$text-color-primary: #462202;
$navbar-bg-color: #f8f9fa;

$primary-blue: #007bff;
$secondary-blue: #007bff;

$primary-red: #DC4D5B;
$secondary-red: #CC0C1E;

$dark-gray: #898989;
$light-gray: #C5C5C5;
$text-color-primary: #3E3E3E;

/* Bootstrap overrides */
.bg-light {
	background-color: $navbar-bg-color !important;
}
.navbar {
	padding-bottom: 1rem;
}
.navbar-brand {
	font-size: 2rem;
	color: $text-color-primary !important;
}
.nav-link {
	color: $text-color-primary !important;
	&:hover {
		text-decoration: underline;
	}
}
.btn {
	&-primary {
		background-color: $primary-blue;
		border-color: $secondary-blue;
		&:hover {
			/*background-color: $secondary-blue;
			border-color: $secondary-blue;*/
		}
	}
	&-danger {
		/*background-color: $primary-red;
		border-color: $secondary-red;*/
		&:hover {
			/*background-color: $secondary-red;
			border-color: $secondary-red;*/
		}
	}
}

ol.breadcrumb {
	background-color: #FFFFFF;
}

ul.errorlist {
	list-style-type: none;
    padding-inline-start: 0;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #F5C6CB;
    background-color: #F8D7DA;
}


/* Django overrides */

span.helptext{
	display: block;
    font-style: italic;
    font-size: .8rem;
    &_required {
    	color: red;
    }
}


/* Session manager base styles */
.footer {
	bottom: 0;
	position: relative;
	left: 0;
	margin-top: 5rem;
	width: 100%;
	background-color: $navbar-bg-color;
	color: $text-color-primary !important;
	padding: 2rem 0;
	a {
		color: $text-color-primary !important;
		text-decoration: underline;
	}
}

.as-table {
	display: table;
	width: 100%;
	.as-row {
		display: table-row;
	}
	.as-cell {
		display: table-cell;
		&_xs {
			width: 7rem;
		}
	}
}

.as-header {
	font-weight: bold;
}

.email-preview {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	padding: 2rem;
	width: 80%;
	margin: 0 auto;
	&_help {
		text-align: center;
		color: red;
		font-weight: bold;
		font-size: 2 rem;
		padding-bottom: 2rem;
	}
	&_header {
		margin-bottom: 2rem;
		padding: 1rem 0;
		border-top: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
	}
}

form.inline {
	display: inline !important;
	input.submit {
		border: none;
		background-color: inherit;
		color: blue;
		&:hover {
			text-decoration: underline;
		}
	}
}